/* Berlin Sans FB Demi */

body {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    overflow: hidden;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: white;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.8);
}

@font-face {
    font-family: berlinSansFBDemiBold;
    src: url(Berlin_Sans_FB_Demi_Bold.ttf);
}

/* @font-face {
    font-family: 'hylia_serif_betaregular';
    src: url('hyliaserifbeta-regular-webfont.woff2') format('woff2'),
        url('hyliaserifbeta-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

.canvas {
    float: left;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
}

.guessBox {
    float: left;
    position: fixed;
    z-index: 111;
}

.winner {
    float: left;
    position: fixed;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 10px;
    font-size: 32px;
}

.coverArt {
    float: left;
    position: fixed;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 25px;
    margin-top: 0px;
}

@keyframes fromTop {
    from {
        top: -100%;
    }
}

@keyframes fromBottom {
    from {
        top: 200%;
    }
}

@keyframes fromLeft {
    from {
        left: -100%;
    }
}

@keyframes fromRight {
    from {
        left: 200%;
    }
}

.crop {
    float: left;
    position: fixed;
    overflow: hidden;
    /* this is important */
    border: 2px solid #ccc;
    border-radius: 25px;
    /* animation-name: fall; */
    animation-fill-mode: forwards;
    animation-duration: 2s;
    filter: drop-shadow(0px 5px 2px #000000AA);
}

.hint {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 10px;
    display: inline-block;
    position: fixed;
}

/*PHYSICS*/
.div-physics {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
}

/*GIFS*/
.div-gifs {
    float: left;
    position: fixed;
    width: 100%;
    height: 100%;
    /* border-radius: 25px; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    /* border: 2px solid #00000000; */
}

.gameBackground {
    float: left;
    position: fixed;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    /* border-radius: 25px; */
    /* border: 2px solid #ccc; */
    /* left: 50%;
    top: 50%; */
    /* transform: translate(-50%, -50%); */
    z-index: -1;
}

.div-gif-holder {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    margin: 0;
}

.div-gif {
    top: 0px;
    left: 0px;
    border: 4px solid black;
    margin: 0;
}

.div-gif-text {
    position: absolute;
    bottom: 16px;
    right: 16px;
    opacity: 1;
    margin: 0;
    color: white;
    font-size: 18pt;
}

@keyframes logo-animation {
    from {
        left: -30%;
    }

    to {
        left: -4%;
    }
}

@keyframes logo-animation-reverse {
    from {
        left: -4%;
    }

    to {
        left: -50%;
    }
}

.logo-wrapper {
    float: left;
    position: fixed;
    margin-top: 0px;
    margin-left: 0px;
    z-index: 100;
    /* left: -4%; */
    left: -50%;
    top: 10%;
    height: 20%;
    /* animation-name: logo-animation; */
    animation-duration: 4s;
    animation-fill-mode: forwards;
    /* animation-play-state:paused; */
}

.logo {
    float: left;
    position: fixed;
    margin-top: 0px;
    margin-left: 0px;
    z-index: 100;
    height: 120px;
    background-color: #222222FF;
    border-radius: 0px 25px 25px 0px;
    padding-top: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    filter: drop-shadow(0px 10px 2px #000000AA);
}

.subtitle {
    float: left;
    position: fixed;
    z-index: 102;
    color: #FFFFFF;
    margin-top: 105px;
    margin-left: 110px;font-size: 16pt;
    font-family: brushscript;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  
    /* -webkit-text-stroke: 0.5px #000000; */
}

.countdown {
    width: 140px;
    float: left;
    position: fixed;
    z-index: 101;
    color: #ef3826;
    margin-top: 150px;
    font-size: 48px;
    font-family: berlinSansFBDemiBold;    
    background-color: #222222FF;
    border-radius: 0px 25px 25px 0px;
    padding-left: 5%;
    padding-top: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.7%;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    filter: drop-shadow(0px 10px 2px #000000AA);
}

@font-face {
    font-family: brushscript;
    src: url(brushscript.ttf);
}