body {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    overflow: hidden;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: white;
    background-color: transparent;
    background-color: #000000;
}

.gameBackground {
    float: left;
    position: fixed;
    /* background: radial-gradient(#222222, #00000000); */
    /* background-color: #22222288; */
    width: 90%;
    height: 90%;
    border-radius: 25px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    overflow: hidden;
    border: 2px solid #ccc;
}

/*GIFS*/
.div-gifs {
    float: left;
    position: fixed;
    /* background-color: #222222; */
    background-image: url('./images/home-background.png');
    width: 90%;
    height: 90%;
    border-radius: 25px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    overflow: hidden;
    border: 2px solid #ccc;
}

.logo {
    float: left;
    position: fixed;
    margin-top: 0px;
    margin-left: 0px;
    z-index: 100;
    left: 50%;
    top: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #222222FF;
    border-radius: 25px;
    padding-left: 2%;
    padding-top: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
    border: 2px solid #ccc;
}

.twitch-button {
    float: left;
    position: fixed;
    background-color: #222222;
    border: 2px #7643ff solid;
    border-radius: 25px;
    margin-top: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.try-in-browser-button {
    float: left;
    position: fixed;
    background-color: #222222;
    border: 2px #087be6 solid;
    border-radius: 25px;
    margin-top: 155px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}



.crop {
    float: left;
    position: fixed;
    overflow: hidden;
    /* this is important */
    border: 2px solid #ccc;
    border-radius: 25px;
    z-index: 0;
}

/*Socail links*/
.socialsbarwrapper {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1;
}

.socialsbar {
    float: left;
    position: fixed;
    overflow: hidden;
    z-index: 0;
    bottom: 7%;
    left: 7%;
}

.socials {
    margin-right: 16px;
    width: 24px;
    height: 24px;
    /* -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1); */
    background-color: #222222;
    border-radius: 50%;
    padding: 16px;
    overflow: visible;
    border: 2px solid #ccc;
}