body {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    overflow: hidden;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: white;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.8);
}

@font-face {
    font-family: 'hylia_serif_betaregular';
    src: url('hyliaserifbeta-regular-webfont.woff2') format('woff2'),
        url('hyliaserifbeta-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.canvas {
    float: left;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
}

.countDownLogo {
    float: left;
    position: fixed;
    z-index: 111;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-top: 20px;
    width: 200px;
}

.countDown {
    float: left;
    position: fixed;
    z-index: 111;
    left: 0;
    color: #faf7dc;
    margin-left: 84px;
    margin-top: 140px;
    /* font-weight: bold; */
    font-size: 22px;
    text-shadow: #227483FF 3px 0 5px;
    font-family: 'hylia_serif_betaregular';
}

.guessBox {
    float: left;
    position: fixed;
    z-index: 111;
}

.gameBackground {
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh; */
    float: left;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    /* background-color: rgba(0, 0, 0, 0); */
    width: 90%;
    height: 90%;

    /* margin-top: 5%; */
    /* margin-left: 5%;
    margin-right: 5%; */
    border-radius: 25px;
    border: 5px #087be6 solid;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.logo {
    float: left;
    position: fixed;
    margin-top: 60px;
    margin-left: 0px;
    z-index: 100;
}

.winner {
    float: left;
    position: fixed;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 10px;
    font-size: 32px;
}

.coverArt {
    float: left;
    position: fixed;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 25px;
    margin-top: 0px;
}

.crop {
    float: left;
    position: fixed;
    overflow: hidden;
    /* this is important */
    border: 2px solid #ccc;
    border-radius: 25px;
}

.hint {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 10px;
    display: inline-block;
    position: fixed;
}

/*PHYSICS*/
.div-physics {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
}

/*GIFS*/
.div-gifs {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.div-gif-holder {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    margin: 0;
}

.div-gif {
    top: 0px;
    left: 0px;
    border: 4px solid black;
    margin: 0;
}

.div-gif-text {
    position: absolute;
    bottom: 16px;
    right: 16px;
    opacity: 1;
    margin: 0;
    color: white;
    font-size: 18pt;
}


/*Index only*/
twitch-button {
    background: #7643ff;
    border-color: #7643ff;
    padding: 0.9rem 1.3rem;
    font-size: 1.35rem;
    border-radius: 1rem;
    font-weight: 700;
    margin-bottom: 1rem !important;
    margin-right: 1rem !important;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #401990;
    color: #0d6efd;
    text-decoration: underline;
    box-sizing: border-box;
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)*-1);
    margin-right: calc(var(--bs-gutter-x)*-0.5);
    margin-left: calc(var(--bs-gutter-x)*-0.5);
    background: linear-gradient(90deg, #00baff, #702bf8);
    -webkit-animation: Gradient 8s ease infinite;
    animation: Gradient 8s ease infinite;
    background-size: 200%;
    color: #fff;
    overflow-x: clip;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(90deg, #fff, #e0e0e0);
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-family: var(--bs-body-font-family);
    font-size: 1rem;
    font-size: var(--bs-body-font-size);
    font-weight: 400;
    font-weight: var(--bs-body-font-weight);
    line-height: 1.5;
    line-height: var(--bs-body-line-height);
    color: #212529;
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: #fff;
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    box-sizing: border-box;
    box-sizing: border-box;
}